@font-face {
  font-family: "Press Start 2P";
  src: url("/assets/fonts/PressStart2P.ttf");
}

@font-face {
  font-family: "1942 Report";
  src: url("/assets/fonts/1942.ttf");
}

:root {
  --spacing: 8px;
  --radius: 4px;
  --white: #FFFFFF;
  --black: #1B1B1B;
  --gray: #ECEBE4;
  --red: #D94A38;
  --olive: #848C58;
  --sand: #f4e1c1;
}

/* DEFAULTS */

* {
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: var(--gray);
  cursor: url(/assets/images/ui/cursor/default.png), auto;
  filter: sepia(0.15);
  font-size: 0.8em;
  line-height: 22px;
  margin: 0;
  min-height: 100vh;
  background-image: url("/assets/images/art/milan-vasek-map-sepia.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 50%;
}

body,
button {
  color: var(--white);
  font-family: 'Press Start 2P', Courier;
  text-shadow: -2px 0 var(--black), 0 2px var(--black), 2px 0 var(--black), 0 -2px var(--black);
}

h1 {
  text-align: center;
  color: var(--olive);
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  margin-left: 20px;
}

canvas {
  display: none;
}

#ui {
  overflow: auto;
}

/* BUTTONS */

button {
  background-color: transparent;
  border-radius: var(--radius);
  border: none;
  cursor: url("/assets/images/ui/cursor/point.png") 10 0, auto;
  padding: 12px 16px;
  transition: background-color 0.45s;
  text-transform: uppercase;

  & span {
    font-size: 1.6em;
    line-height: 1;
  }
}

button:hover {
  background-color: var(--red);
}
button.no-hover:hover {
  background-color: unset;
}

.menu-btn {
  position: absolute; 
  text-transform: none;
  max-width: 180px;
  background-color: rgba(0,0,0,0);
  /* color: var(--sand); */

  & img {
    filter: 
        drop-shadow(1px 1px 0px rgba(0, 0, 0, .4)) 
        drop-shadow(-1px -1px 0px rgba(0, 0, 0, .4)) 
        drop-shadow(1px -1px 0px rgba(0, 0, 0, .4)) 
        drop-shadow(-1px 1px 0px rgba(0, 0, 0, .4))
        drop-shadow(2px 2px 0px rgba(255,255,255, .3)) 
        drop-shadow(-2px -2px 0px rgba(255,255,255, .3)) 
        drop-shadow(2px -2px 0px rgba(255,255,255, .3)) 
        drop-shadow(-2px 2px 0px rgba(255,255,255, .3));
  }
}

.menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* GAME SCREEN */

.central-screen {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 512px;
  min-width: 320px;
}

.simple-container {
  background-color: rgba(0, 0, 0, 0.8);
  border-image-repeat: repeat;
  border-image-slice: 3 3 3 3;
  border-image-source: url(/assets/images/ui/border-image-grey.png);
  border-image-width: 7px;
  border-radius: var(--radius);
  color: #8D9573;
  max-width: 480px;
  padding: 20px;
  text-align: center;
}

.white-window {
  margin-top: 10px;
  border: 1px solid var(--black);
  outline: 1px solid var(--white);
  padding: 10px;
  border-radius: var(--radius);
}

.game-paused {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* REPORT */

.report {
  background-color: #cccccc;
  background-image: url(/assets/images/ui/document.jpg);
  background-size: cover;
  width: 420px;

  & p {
    color: #333;
    font-family: '1942 Report', Courier, monospace;
    font-size: initial;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 150px 15% 8px;
    text-shadow: none;
  }
}

/* SCENE UI */

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: absolute;
}

.top-left {
  left: var(--spacing);
  top: var(--spacing);
}

.top-right {
  right: var(--spacing);
  top: var(--spacing);
}

.bottom-left {
  left: var(--spacing);
  bottom: var(--spacing);
}

.bottom-right {
  right: var(--spacing);
  bottom: var(--spacing);
}

.progress {
  width: 220px;
}

@media (max-width: 500px) {
  .progress {
    width: 96%;
  }
}

@media (max-width: 500px) {
  .top-left {
    top: 40px;
  }
}

/* PROGRESS */

progress {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--black);
  height: 22px;
  min-width: 210px;
  border-radius: var(--radius);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: var(--red);
}

progress::-moz-progress-bar {
  background-color: var(--red);
}

progress.potisak::-webkit-progress-value {
  background-color: var(--olive);
}

progress.potisak::-moz-progress-bar {
  background-color: var(--olive);
}

.progress-wrapper {
  position: relative;

  & .energija {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* SCREEN BUTTONS */

.game-btn {
  background: rgba(126, 126, 126, 0.5);
  border-radius: 50%;
  border: 2px solid var(--white);
  outline: 2px solid var(--black);
  bottom: 30px;
  height: 60px;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
  padding: 0;
}

.joystick {
  height: 80px;
  left: 50%;
  width: 80px;
  box-sizing: content-box;
}

.jump-btn {
  left: calc(50% - 100px);
}

.special-btn {
  left: calc(50% - 190px);
}

.attack-btn {
  left: calc(50% + 100px);
}

.attack2-btn {
  left: calc(50% + 190px);
}

/* BOJE */

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.olive {
  color: var(--olive);
}

.bg-olive {
  background-color: var(--olive);
}

/* UTILS */

.absolute {
  position: absolute;
}

.full {
  width: 100%;
}

.centar {
  text-align: center;
}

.levo {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.medal {
  font-size: 1.25em;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}