@font-face {
  font-family: "Press Start 2P";
  src: url("/assets/fonts/PressStart2P.ttf");
  font-display: swap;
}

@font-face {
  font-family: "1942 Report";
  src: url("/assets/fonts/1942.ttf");
  font-display: swap;
}

:root {
  --spacing: 8px;
  --radius: 4px;
  --white: #FFFFFF;
  --black: #1B1B1B;
  --gray: #ECEBE4;
  --red: #D94A38;
  --olive: #848C58;
  --sand: #f2e6d8;
}

/* BREAKPOINTS:
- sm 500px
- md 800px
*/

/* DEFAULTS */

* {
  user-select: none;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  background-color: var(--gray);
  cursor: url(/assets/images/rpgui/cursor/default.png), auto;
  font-size: 0.8em;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  image-rendering: pixelated;
  position: relative; /* za pseudo-element */
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/assets/images/art/milan-vasek-map.webp") center / cover no-repeat;
  z-index: -2;
  filter: sepia(0.4);
  opacity: 0.85; 
  pointer-events: none; /* da ne blokira evente */
}

body,
button {
  color: var(--white);
  font-family: 'Press Start 2P', Courier;
  line-height: 1.2rem;
  text-shadow:
    1px 0 0 var(--black),
   -1px 0 0 var(--black),
    0 1px 0 var(--black),
    0 -1px 0 var(--black),

    1px 1px 0 var(--black),
   -1px 1px 0 var(--black),
    1px -1px 0 var(--black),
   -1px -1px 0 var(--black),

    2px 0 0 var(--black),
   -2px 0 0 var(--black),
    0 2px 0 var(--black),
    0 -2px 0 var(--black);
}

h1 {
  text-align: center;
  color: var(--olive);
}

h2 {
  margin: 20px 0;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  margin-left: 20px;
}

canvas {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

#ui {
  overflow: auto;
}

/* BUTTONS */

button {
  background-color: transparent;
  border-radius: var(--radius);
  border: none;
  cursor: url("/assets/images/rpgui/cursor/point.png") 10 0, auto;
  padding: 12px 16px;
  transition: background-color 0.45s;
  text-transform: uppercase;
}

.icon {
  font-size: 1.4rem;
  -webkit-text-fill-color: initial;
}

button:hover {
  background-color: var(--red);
}

button.no-hover:hover {
  background-color: unset;
}

.white-button:hover {
  background-color: unset;
  outline: 1px solid white;
}

.rpgui-button {
  background: url("/assets/images/rpgui/button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-width: 160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.rpgui-button:hover {
  background-image: url("/assets/images/rpgui/button-hover.png");
}

.rpgui-button.golden {
  background-image: url("/assets/images/rpgui/button-golden.png");
  background-size: 100% 90%;
  padding-top: 5px;
  justify-content: space-between;
}

.rpgui-button.golden:before,
.rpgui-button.golden:after {
  content: "";
  width: 34px;
  height: 110%;
  margin-top: -5%;
}

.rpgui-button.golden:before {
  background: transparent url("/assets/images/rpgui/button-golden-left.png") no-repeat right center;
  background-size: 100% 100%;
  margin-left: -46px;
}

.rpgui-button.golden:after {
  background: transparent url("/assets/images/rpgui/button-golden-right.png") no-repeat left center;
  background-size: 100% 100%;
  margin-right: -46px;
}

/* HOMEPAGE */

.homepage {
  padding: 0 10% 40px;
}

.uvod {
  margin-bottom: 20px;
  padding: 8px 24px;
}

.main-menu {
    display:grid;
    padding: 0 40px;
    gap:20px;
}

@media (min-width: 800px) {
  .main-menu {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    padding: 0 60px;
    gap:40px;
  }
}

.menu-item {
  cursor: url("/assets/images/rpgui/cursor/point.png") 10 0, auto;
  text-align: center;
  border-radius: 8px;
  transition: 0.4s;
}

.menu-item:hover {
  /* background-color: rgba(0, 0, 0, 1); */
  transform: rotateY(-20deg);
}

.github {
  background-color: rgba(27, 27, 27, .75);
  color: #fff;
  padding: 8px 40px;
  position: absolute;
  right: -60px;
  text-align: center;
  text-decoration: none;
  top: 50px;
  transform: rotate(45deg);
  transition: 0.5s;
  width: 250px;
  z-index: 9;
}

.github:hover {
  background: var(--red);
}

/* GAME SCREEN */

.central-screen {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  max-width: 540px;
  min-width: 320px;

  & .rpgui-button {
    display: initial;
  }
}

.simple-container, .white-container, .rpgui-container {
  display: inline-block; /* za UI book */
  padding: 12px;
}

.simple-container {
  background-color: rgba(0, 0, 0, 0.8);
  border-image-repeat: repeat;
  border-image-slice: 3 3 3 3;
  border-image-source: url(/assets/images/rpgui/border-image-grey.png);
  border-image-width: 7px;
  border-radius: var(--radius);
  color: #8D9573;
}

.white-container {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid var(--black);
  border-radius: var(--radius);
  outline: 1px solid var(--white);
}

.rpgui-container {
  border-image-repeat: repeat;
  border-image-width: 18px;
  border-style: solid;
  border-width: 15px;
  box-sizing: border-box;

  h1, h2, h3, .game-title {
    /* order is important */
    background: linear-gradient(to bottom, #ff8a00 0%, yellow 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }

  .game-title {
    font-size: 1.2rem;
    text-transform: unset;
  }

  li {
    color: yellow;
  }
}

.rpgui-container.framed {
  background-color: #4E4A4E;
  border-image-slice: 6 6 6 6;
  border-image-source: url("/assets/images/rpgui/border-image.png");
}

.rpgui-container.framed-golden {
  background-color: #854C30;
  border-image-slice: 4 4 4 4;
  border-image-source: url("/assets/images/rpgui/border-image-golden.png");
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.game-screen-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input[type="image"] {
    min-width: 140px;
    height: 110px;
    border: 3px solid black;
  }
}

@media (min-width: 500px) {
  .game-screen-select input[type="image"] {
    min-width: 180px;
    height: 140px;
  }
}

/* REPORT */

.report {
  background-color: #cccccc;
  background-image: url(/assets/images/ui/document.jpg);
  background-size: cover;
  width: 420px;
  min-height: 260px;

  & p {
    color: #333;
    font-family: '1942 Report', Courier, monospace;
    font-size: initial;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 150px 15% 8px;
    text-shadow: none;
  }
}

/* SCENE UI */

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: absolute;
}

.top-left {
  left: var(--spacing);
  top: 40px; /* za fps scene */
}

@media (min-width: 500px) {
  .top-left {
    top: var(--spacing);
  }
}

.top-right {
  right: var(--spacing);
  top: var(--spacing);
}

.bottom-left {
  left: var(--spacing);
  bottom: var(--spacing);
}

.bottom-right {
  right: var(--spacing);
  bottom: var(--spacing);
}

/* PROGRESS */

.progress {
  width: 96%;
}

@media (min-width: 500px) {
  .progress {
    width: 220px;
  }
}

progress {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--black);
  height: 22px;
  min-width: 210px;
  border-radius: var(--radius);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: var(--red);
}

progress::-moz-progress-bar {
  background-color: var(--red);
}

progress.potisak::-webkit-progress-value {
  background-color: var(--olive);
}

progress.potisak::-moz-progress-bar {
  background-color: var(--olive);
}

.progress-wrapper {
  position: relative;

  & .energija {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.rpgui-progress {
  background-color: #4E4A4E;
  border-radius: 7px;
  border: 2px solid black;
}

.rpgui-progress::-webkit-progress-value {
  background-image: url("/assets/images/rpgui/progress-red.png");
  background-repeat: repeat-x;
  background-size: 36px 100%;
  border-radius: 7px;
}

.rpgui-progress::-moz-progress-bar {
  background-image: url("/assets/images/rpgui/progress-red.png");
  background-repeat: repeat-x;
  background-size: 36px 100%;
  border-radius: 7px;
}

.rpgui-button.top-left {
  margin-left: var(--spacing);

  p, div {
      padding: 0 8px;
  }
}

/* SCREEN BUTTONS */

.game-btn {
  background: rgba(126, 126, 126, 0.5);
  border-radius: 50%;
  border: 2px solid var(--white);
  outline: 2px solid var(--black);
  bottom: 30px;
  height: 60px;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
  padding: 0;
}

.joystick {
  height: 80px;
  left: 50%;
  width: 80px;
  box-sizing: content-box;
}

.jump-btn {
  left: calc(50% - 100px);
}

.special-btn {
  left: calc(50% - 190px);
}

.attack-btn {
  left: calc(50% + 100px);
}

.attack2-btn {
  left: calc(50% + 190px);
}

/* BOJE */

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.olive {
  color: var(--olive);
}

.bg-olive {
  background-color: var(--olive);
}

/* UTILS */

.absolute {
  position: absolute;
}

.full {
  width: 100%;
}

.centar {
  text-align: center;
}

.align-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#malo-platno {
  margin: 0 auto;
}
@media (min-width: 800px) {
  #malo-platno {
    position: fixed;
    top: 0;
    left: -50px;
  }
}