@font-face {
  font-family: "Press Start 2P";
  src: url("/assets/fonts/PressStart2P.ttf");
  font-display: swap;
}

@font-face {
  font-family: "1942 Report";
  src: url("/assets/fonts/1942.ttf");
  font-display: swap;
}

:root {
  --spacing: 8px;
  --radius: 4px;
  --white: #FFFFFF;
  --black: #1B1B1B;
  --gray: #ECEBE4;
  --red: #D94A38;
  --olive: #848C58;
  --sand: #f2e6d8;
}

/* BREAKPOINTS:
- sm 500px
- md 800px
*/

/* DEFAULTS */

* {
  user-select: none;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  background-color: var(--gray);
  cursor: url(/assets/images/rpgui/cursor/default.png), auto;
  filter: sepia(0.15);
  font-size: 0.8em;
  line-height: 22px;
  margin: 0;
  min-height: 100vh;
  background-image: url("/assets/images/art/milan-vasek-map-sepia.jpg");
  background-size: cover;
  overflow-x: hidden;
  image-rendering: pixelated;
}

body,
button {
  color: var(--white);
  font-family: 'Press Start 2P', Courier;
  text-shadow: -2px 0 var(--black), 0 2px var(--black), 2px 0 var(--black), 0 -2px var(--black);
}

h1 {
  text-align: center;
  color: var(--olive);
}

h2 {
  margin: 20px 0;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  margin-left: 20px;
}

canvas {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

#ui {
  overflow: auto;
}

/* BUTTONS */

button {
  background-color: transparent;
  border-radius: var(--radius);
  border: none;
  cursor: url("/assets/images/rpgui/cursor/point.png") 10 0, auto;
  padding: 12px 16px;
  transition: background-color 0.45s;
  text-transform: uppercase;

  & span {
    font-size: 1.6em;
    line-height: 1;
  }
}

button:hover {
  background-color: var(--red);
}

button.no-hover:hover {
  background-color: unset;
}

/* HOMEPAGE */

.homepage {
  padding: 0 10% 40px;
}

.potpis {
  margin-bottom: 40px;
  text-align: right;
}

.main-menu {
    display:grid;
    padding: 0 40px;
    gap:20px;
}

@media (min-width: 800px) {
  .main-menu {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    padding: 0 60px;
    gap:40px;
  }
}

.menu-item {
  color: var(--olive);
  cursor: url("/assets/images/rpgui/cursor/point.png") 10 0, auto;
  padding: 8px 16px;
  text-align: center;
  background-color: rgba(27, 27, 27, .75);
  border-radius: 8px;
  transition: 0.5s;
}

.menu-item:hover {
  background-color: rgba(27, 27, 27, 1);
}

#forkongithub {
  background-color: rgba(27, 27, 27, .75);
  color: #fff;
  padding: 8px 40px;
  position: absolute;
  right: -60px;
  text-align: center;
  text-decoration: none;
  top: 50px;
  transform: rotate(45deg);
  transition: 0.5s;
  width: 250px;
  z-index: 9;
}

#forkongithub:hover {
  background: var(--red);
}

/* GAME SCREEN */

.central-screen {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  max-width: 540px;
  min-width: 320px;
  padding: 20px;
}

.simple-container {
  background-color: rgba(0, 0, 0, 0.8);
  border-image-repeat: repeat;
  border-image-slice: 3 3 3 3;
  border-image-source: url(/assets/images/rpgui/border-image-grey.png);
  border-image-width: 7px;
  border-radius: var(--radius);
  color: #8D9573;
}

.white-container {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid var(--black);
  border-radius: var(--radius);
  outline: 1px solid var(--white);
}

.bottom-left .white-container {
  padding: 10px;
  margin-top: 10px;
}


.game-paused {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.game-screen-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input[type="image"] {
    min-width: 140px;
    height: 110px;
    border: 3px solid black;
  }
}

@media (min-width: 500px) {
  .game-screen-select input[type="image"] {
    min-width: 180px;
    height: 140px;
  }
}


/* REPORT */

.report {
  background-color: #cccccc;
  background-image: url(/assets/images/ui/document.jpg);
  background-size: cover;
  width: 420px;
  min-height: 260px;

  & p {
    color: #333;
    font-family: '1942 Report', Courier, monospace;
    font-size: initial;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 150px 15% 8px;
    text-shadow: none;
  }
}

/* SCENE UI */

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: absolute;
}

.top-left {
  left: var(--spacing);
  top: 40px; /* za fps scene */
}

@media (min-width: 500px) {
  .top-left {
    top: var(--spacing);
  }
}

.top-right {
  right: var(--spacing);
  top: var(--spacing);
}

.bottom-left {
  left: var(--spacing);
  bottom: var(--spacing);
}

.bottom-right {
  right: var(--spacing);
  bottom: var(--spacing);
}

.progress {
  width: 96%;
}

@media (min-width: 500px) {
  .progress {
    width: 220px;
  }
}

/* PROGRESS */

progress {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--black);
  height: 22px;
  min-width: 210px;
  border-radius: var(--radius);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: var(--red);
}

progress::-moz-progress-bar {
  background-color: var(--red);
}

progress.potisak::-webkit-progress-value {
  background-color: var(--olive);
}

progress.potisak::-moz-progress-bar {
  background-color: var(--olive);
}

.progress-wrapper {
  position: relative;

  & .energija {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* SCREEN BUTTONS */

.game-btn {
  background: rgba(126, 126, 126, 0.5);
  border-radius: 50%;
  border: 2px solid var(--white);
  outline: 2px solid var(--black);
  bottom: 30px;
  height: 60px;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
  padding: 0;
}

.joystick {
  height: 80px;
  left: 50%;
  width: 80px;
  box-sizing: content-box;
}

.jump-btn {
  left: calc(50% - 100px);
}

.special-btn {
  left: calc(50% - 190px);
}

.attack-btn {
  left: calc(50% + 100px);
}

.attack2-btn {
  left: calc(50% + 190px);
}

/* BOJE */

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.olive {
  color: var(--olive);
}

.bg-olive {
  background-color: var(--olive);
}

/* UTILS */

.absolute {
  position: absolute;
}

.full {
  width: 100%;
}

.centar {
  text-align: center;
}

.levo {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.medal {
  font-size: 1.25em;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}